    html {
        background-color: blueviolet;
    }
    
    .main {
        width: 50%;
        margin: 0 auto;
        background-color: lightgreen;
        border: .5rem solid black;
    }
    
    img {
        display: block;
        margin: 0 auto;
        border-radius: 100%;
        border: 1rem ridge gold;
    }
    
    h1 {
        color: red;
    }
    
    .header1 {
        color: purple;
    }