body {
    background: none;
    border: none;
    height: 60rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.ss {
    justify-content: flex-start;
    align-content: flex-start;
}

.cs {
    justify-content: center;
    align-content: flex-start;
}

.es {
    justify-content: flex-end;
    align-content: flex-start;
}

.sc {
    justify-content: flex-start;
    align-content: center;
}

.cc {
    justify-content: center;
    align-content: center;
}

.ec {
    justify-content: flex-end;
    align-content: center;
}

.se {
    justify-content: flex-start;
    align-content: flex-end;
}

.ce {
    justify-content: center;
    align-content: flex-end;
}

.ee {
    justify-content: flex-end;
    align-content: flex-end;
}

div {
    height: 6rem;
    width: 6rem;
    margin: 1em;
    background-color: red;
    border: 2px solid black;
    text-align: center;
}

a {
    display: block;
}