body,
main {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 600px;
    height: 200px;
    border: 2px solid red;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

div {
    height: 50%;
    flex-grow: 1;
}

.div1 {
    background-color: darkblue;
    flex-basis: 60%;
}

.div2 {
    background-color: blue;
    flex-basis: 40%;
}

.div3,
.div4,
.div5 {
    flex-basis: 33%;
}

.div3 {
    background-color: cornflowerblue;
}

.div4 {
    background-color: lightblue;
}

.div5 {
    background-color: aliceblue;
}